---
layout: default
---

<div class="container">
    <div class="row header fw-logo">
        <div class="col-lg-6 col-md-8">
            <img src="/images/fsharp_works_logo_100.png" alt="fsharpWorks logo" class="img-responsive" />
        </div>
        <div class="col-lg-6 col-md-4 header-tagline">
            <h2 class="header-tagline">The safe choice for functional-first development</h2>
        </div>
    </div>
</div>

<div class="fw-photos fw-photos-hp">
<div id="fworks-banner" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner" role="listbox">
    <div class="img1 item active"></div>
    <div class="img2 item"></div>
    <div class="img3 item"></div>
    <div class="img4 item"></div>
    <div class="img5 item"></div>
  </div>
  <div class="overlay">
    <link href="https://fsharpworks.com"/>
    <h2>Welcome to <b>fsharpWorks</b></h2>
    <p>A team of F# experts that can offer you a complete range of services including F# training, consulting, and functional-first development.</p>
    <p class="btns">
      <a class="btn btn-info" href="mailto:info@fsharpworks.com"><i class="fa fa-envelope"></i>&nbsp; Contact Us</a>
      <a class="btn btn-info" href="https://twitter.com/fsharpWorks"><i class="fa fa-twitter"></i>&nbsp; Follow Us</a>
      <link href="https://www.linkedin.com/company/fsharpworks"/>
      <link href="https://github.com/fsharpworks"/>
    </p>
  </div>
  
 {% include navbar.inc %}
  
  <a class="left carousel-control" href="#fworks-banner" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#fworks-banner" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
</div>


<div class="container">
    {{ content }}
</div>
