body {
    width: 800px;
	margin: 0 auto;
    font-family: 'Libre Baskerville', serif; 
}
h1,h2,h3,h4,h5,h6 {
	font-weight: normal;
}
.header {
    margin-top: 30pt;
	margin-bottom: 30pt;
}
.header-title {
	font-size: 48pt;
}
.header-tagline {
	font-size: 18pt;
	font-style: italic;
}
.pic-container {
    width: 150px;
	float: left;
	margin: 10px;
	padding: 10px;
}
.pic-container img {
    width: 100%;
    height: auto;
}