@font-face
{
    font-family: "Baskerville";
    src: url("../../fonts/LibreBaskerville-Regular.otf");
}

@font-face
{
    font-family: "Baskerville";
    font-weight: bold;
    src: url("../../fonts/LibreBaskerville-Bold.otf");
}

@font-face
{
    font-family: "Baskerville";
    font-style: italic;
    src: url("../../fonts/LibreBaskerville-Italic.otf");
}

@font-face
{
    font-family: "Sintony";
    src: url("../../fonts/Sintony-Regular.otf");
}

@font-face
{
    font-family: Sintony;
    src: url("../../fonts/Sintony-Bold.otf");
    font-weight: bold;
}

body
{
    font-family: "Sintony","Lucida Sans Unicode","Lucida Grande","Lucida Sans",Verdana,Arial,sans-serif;
    font-size: 16px;
}

blockquote
{
    color: #555;
    font-size: 16px;
    /*font-style: italic;*/
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6
{
    font-family: "Libre Baskeville", Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;
    color: #00002a;
}

code
{
    font-family: Consolas, monaco, monospace;
}

.header
{
    margin-top: 20px;
    margin-bottom: 10px;
}

.header-title
{
    font-size: 60pt;
}

.header-tagline
{
    font-size: 20pt;
    /*font-style: italic;*/
    margin-top: 0;
    padding-top: 23px;
    /*vertical-align: bottom;*/
}

.header-tagline2
{
    font-size: 14pt;
    /*font-style: italic;*/
    margin-top: 0;
    padding-top: 9px;
    /*vertical-align: bottom;*/
}

.logo
{
    background-image: url("../../images\fsworks.png");
}


.footer
{
    margin:60px 0px 20px 0px;
    font-size: 10pt;
}


.twitter-follow-button {
    vertical-align: bottom;
}

.fw-events {
  margin-top:30px;
}

.fw-events .fw-future .col-sm-4 {
  text-align:right;
}

.fw-events .btn {
    width:100px;
    margin-top:0px;
    margin-right:20px;
    border-style:none;
}
.fw-past {
  background:#f0f0f0;
  padding:20px;
  padding-top:10px;
  margin-top:10px;
}